
.modal-input
	label
		position: absolute
		font-size: 1rem
		left: 0
		top: 50%
		transform: translateY(-50%)
		color: gray
		padding: 0 0.3rem
		margin: 0 0.5rem
		transition: .1s ease-out
		transform-origin: left top
		pointer-events: none

	input:focus + label 
		color: $font-light-color
		top: 0
		transform: translateY(-50%) scale(.9)

	
	input:not(:placeholder-shown) + label 
		top: 0
		transform: translateY(-50%) scale(.9)
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button 
		-webkit-appearance: none
		margin: 0
	input[type=number]
		-moz-appearance: textfield
	&-wrap
		+flex
		+align-items(center)
		
		position: absolute
		visibility: hidden
		top: calc(-2em)
		z-index: 120
		
		background: $bg-color2
		border-radius: 2px
		+box-shadow(0px 0px 10px rgba(0, 0, 0, .4))
		width: 0px
		html:not(.dark) &
			color: $light-font-color
			background-color: $light-bg-color2
	
		&.show
			visibility: visible
			width: 250px
			+prefix(transition, $default-transition)
			
	&-text
		padding: 0
		width: 100%
		color: $font-light-color
		background-color: $bg-color2
		border: 0
		border-radius: 6px
		html:not(.dark) &
			color: $light-font-color
			background-color: $light-bg-color2
		
		&.show
			padding: 12px 10px 12px 15px
			
		&:focus
			color: $white
			
	&-clear
		width: 100%
		min-width: 16px
		max-width: 16px
		height: 16px
		background-image: url('/src/assets/img/icon/cross.svg')
		background-size: 100% auto
		background-position: center center
		background-repeat: no-repeat
		cursor: pointer

	&-btn
		+flex
		+align-items(center)
		margin:
			left: 30px
		
		&-ok
			cursor: pointer
			padding-right: 10px
			+prefix(transform, scale(1.4))
			&:hover
				path
					fill: $accent-color
		&-clear
			cursor: pointer
			padding-right: 10px

			&:hover
				rect
					fill: $accent-color