.catalog
	display: grid
	grid-template-columns: max(285px) 1fr
	margin: 
		top: 30px
	
	&-elem
		margin:
			left: 20px
		height: 81px
		
		&-menu
			grid-column-start: 1
			grid-row-start: 1
			grid-row-end: 2
			margin: 
				bottom: auto

			&.menu-open
				grid-row-end: 3

	&-body
		margin:
			left: 20px
		grid-column-start: 1
		grid-column-end: 3
		grid-row-start: 2
		grid-row-end: 3
		transform: translate3d(-8px, 0, 0) 

		&.menu-open
			grid-column-start: 2
			height: 3000px			
		&-preloader
			left: 50%
		
		&-items
			+flex
			+flex-flow(column)

	&-head

		&-card
			flex-grow: 1
			height: 81px
			background-color: $bg-default-color
			z-index: 100
			border-radius: 6px
			+box-shadow(0px 0px 5px rgba(0, 0, 0, 0.3))
			text-align: left
			padding: 31px 30px
			font-size: 20px
			html:not(.dark) &
				background-color: $light-bg-color

	&-menu
		+flex
		+flex-flow(column)
		+justify-content(flex-start)
		+align-items(center)
		margin: 
			right: 30px
		width: 100%
		max-width: 285px
		height: 100%
		background-color: $bg-default-color
		//overflow-y: none
		z-index: 100
		border-radius: 6px
		html:not(.dark) &
			background-color: $light-bg-color
		+box-shadow(0px 0px 5px rgba(0, 0, 0, 0.3))

		&-heading
			+box-shadow(0px 0px 5px rgba(0, 0, 0, 0.3))
			width: 100%
			height: 81px
			text-align: center
			padding: 20px 0
			font-size: 33px

			&-add
				float: right
				width: 40px
				cursor: pointer

				&:hover
					color: $accent-color
		
		&-nav
			+flex
			width: 100%
			margin:
				top: 30px
				bottom: 20px
			list-style-type: none
			+align-items(flex-start)
			+flex-flow(column)
			
			&-elem
				display: inline-block
				position: relative
				margin:
					bottom: 15px
					left: 20px
				
				&-wrap
					cursor: pointer

					&:hover
						.menu-nav-text,
						.menu-nav-link
							color: $accent-color
						
						.menu-nav-arrow-img
							path
								fill: $accent-color

			&-text,
			&-link
				display: inline-block
				padding:
					left: 19px
				font-size: 18px
				line-height: 30px
				font-weight: 400
				color: $font-light-color
				+prefix(transition, $default-transition)
				cursor: pointer
				html:not(.dark) &
					color: $light-font-color
				&.active
					color: $active-color
					html:not(.dark) &
						color: $light-font-color
						+text-shadow(0px 0px 6px $light-active-color)


			&-arrow
				position: absolute
				top: 5px
				left: 0
				width: 7px
				height: 13px

				&.active 
					transform: rotate(90deg)
					-webkit-animation: spin .3s ease-in-out
					-moz-animation: spin .3s linear
					animation: spin .3s linear

					+keyframes (spin)
						0%
							transform: rotate(0deg)
						100%
							transform: rotate(90deg)


				&-img
					width: 100%

					path
						+prefix(transition, $default-transition)
			
			&-dropdown
				//display: none
				overflow: hidden
				height: 0
				+prefix(transition,  $default-transition)
				padding:
					left: 20px

				&.active
					height: auto
					+prefix(transition,  $default-transition )

				&-list
					padding: 
						top: 5px
					list-style-type: none
					list-style-position: outside
					li
						margin:
							top: 5px
					
				&-link
					font-size: 16px
					line-height: 25px
					color: $white
					html:not(.dark) &
						color: $light-font-color
						&.active, &:hover
							color: $light-font-color
							+text-shadow(0px 0px 6px $light-active-color)
					&.active
						color: $active-color
					&:hover
						color: $accent-color

	&-pagination
		+flex
		+justify-content(center)
		+align-items(center)

		&-info
			+flex
			+justify-content(flex-end)
			+align-items(center)
			width: 100%
			margin: 5px
			font-size: 12px
			line-height: 25px
			color: $font-light-color

			&-maxpage
				cursor: pointer
				text-decoration: underline $font-light-color dotted
				
				&-wrap
					+flex
					+align-items(center)
					+flex-direction(column)
					position: absolute
					visibility: hidden
					z-index: 120
					
					background: $bg-color2
					border-radius: 2px
					+box-shadow(0px 0px 10px rgba(0, 0, 0, 1))
					width: 50px
					html:not(.dark) &
						color: $light-font-color
						background: $light-bg-color2
					&.show
						visibility: visible						
						+prefix(transition, $default-transition)
					& div 
						cursor: pointer
					
					& div:hover
						text-decoration: underline $active-color solid

					& div.active
						text-decoration: underline $active-color solid
						color: $active-color

		&-text
			color: $font-light-color

		&-arrow
			+flex
			+justify-content(center)
			+align-items(center)
			padding: 10px
		
			&:not(.disable):hover
				cursor: pointer
				color: $accent-color
				path
					fill: $accent-color
				.catalog-pagination-arrow-text
					max-width: 120px
					opacity: 1

			&.disable
				cursor: default
				opacity: 0.3

			&-text
				margin: 0 10px
				max-width: 0px
				overflow: hidden
				opacity: 0
				+prefix(transition, .6s)

.catalog-item
	+flex
	padding: 30px
	margin: 
		top: 20px
	background-color: $bg-default-color
	border-radius: 6px
	+align-items(flex-start)
	+prefix(transition, $default-transition)
	html:not(.dark) &
		background-color: $light-bg-color2


	&-img
		display: inline-block
		position: relative
		margin:
			right: 60px
		width: 100%
		max-width: 185px
		border-radius: 6px
		overflow: hidden

	& img
		display: block
		width: 100%
		max-width: 100%
		height: 100%
		max-height: 100%

	&-text
		color: $font-light-color
		margin: 
			top: 20px
			bottom: 10px
		max-height: 10em
		overflow: hidden
		+prefix(transition, $default-transition)
		html:not(.dark) &
			color: $light-font-color2

		&.more
			+prefix(transition, $default-transition)
			max-height: 150em
			overflow: auto
	
	&-info
		width: 100%
	
	&-more
		color: $active-color
		padding: 5px
		font-size: 10pt 
		margin: 
			bottom: 40px
		html:not(.dark) &
			color: $light-font-color
			+text-shadow(0px 0px 6px $light-active-color)
			&:hover
				+text-shadow(0px 0px 6px $light-accent-color)


	&-btn-block
		+flex
		+justify-content(flex-end)
		width: 90%

	&-btn
		+flex
		margin: 
			left: 40px
		color: $white
		html:not(.dark) &
			color: $light-font-color
			&:hover
				+text-shadow(0px 0px 6px $light-active-color)

		&:hover
			color: $accent-color
			.fill
				fill: $accent-color
			.stroke
				stroke: $accent-color
				
	
		& span
			margin: 
				left: 5px
