.company

	&-head 
		+flex
		margin:
			top: 30px

		&-elem
			&:nth-child(1)
				width: 70%
				overflow: auto
				scroll-snap-type: x mandatory

			&:nth-child(2)
				padding:
					left: 30px
				width: 30%
		
		&-wrap
			+flex
			overflow-y: hidden

		&-item
			// position: relative
			margin:
				right: 30px
				left: 4px
			min-width: 300px
			max-width: 400px
			scroll-snap-align: start
			cursor: pointer
			height: 100%
			border-radius: 6px
			
			&.active
				border: 2px solid $active-color
				
			&:last-child
				overflow: hidden
				text-overflow: ellipsis
				white-space: nowrap
				margin: 0
				+prefix(transition, $default-transition)
				&.disable
					max-width: 0px
					min-width: 0px
					height: 0px

			// .company-card-sale
			// 	top: 15px
			// 	right: -5px
			// 	+prefix(transform, translate(0))
			
			&.red
				.company-card-sale	
					&-box
						background-color: #B9342D

					&::after
						border-left: 6px solid #86140E
				.company-card-balance
					&-box
						background-color: #B9342D
					&::after
						border-right: 6px solid #86140E
						
			&.yellow
				.company-card-sale
					&-box
						background-color: #A76C14
					&::after
						border-left: 6px solid #683F01
						
				.company-card-balance
					&-box
						background-color: #A76C14
					&::after
						border-right: 6px solid #683F01
						
			.content-elem
				border-bottom-left-radius: 0px
				border-bottom-right-radius: 0px
				padding:
					left: 20px 
					right: 20px
					top: 30px
					bottom: 0px
				

			&.documents
				.content-elem
					padding: 0
				
				.company-head-item-title
					padding: 20px 30px
					color: $font-light-color

			&-title
				margin:
					right: 70px
				font-size: 21px
				line-height: 32px
				height: 2em
				
				+prefix(transition, $default-transition)
			
		&-info
			margin:
				top: 30px
			padding:
				bottom: 5px
			border-bottom: 1px solid #292C32

			&-row
				+flex
				margin:
					bottom: 5px
				+justify-content(space-between)
				+align-items(center)
			
			&-elem
				&.l
					white-space: nowrap
					font-size: 16px
					line-height: 25px
					min-width: 70px

				
			
			&-title,
			&-val
				display: block
				text-align: right

			&-title
				font-size: 10px
				line-height: 15px
				color: rgba(255, 255, 255, 0.6)
			
			&-val
				padding:
					left: 10px
				font-size: 14px
				line-height: 22px
				white-space: nowrap
		
		&-sale
			+align-items(center)
			background-color: $bg-color2
			padding:
				top: 15px
				bottom: 15px
			+flex
			border-bottom-left-radius: 6px
			border-bottom-right-radius: 6px
			
			.sale
				&-val
					width: 100%
					text-align: center
					&-money
						margin:
							right: 10px
						font-size: 20px
						line-height: 15px
						color: $font-light-color
						
				&-tooltip
					display: none
					padding-right: 10px
					position: absolute
					right: 0px
					+prefix(transition, $default-transition)
					&.active
						display: block
					&:hover
						+prefix(transform, translateY(-3px))
						path
							fill: $accent-color
							
						
				&-title
					font-size: 10px
					line-height: 15px
				
				&-progressbar

					&-line
						padding: 5px 
						width: 15%
					
					&-val
						&-money
							margin:
								right: 10px
							font-size: 10px
							line-height: 15px
						
						&-percent
							font-size: 14px
							line-height: 20px
					
					&-money
						font-size: 10px
						line-height: 15px
		
		&-list
			padding: 0px 30px 
			list-style-type: none
			max-height: 251px
			overflow: auto
			overflow-x: hidden
			
			&-elem
				+flex
				margin:
					bottom: 10px
				+align-items(center)

			&-img
				display: block
				margin:
					right: 10px
				width: 16px
				height: 20px

			&-link
				font-size: 12px
				line-height: 18px
				color: $font-light-color
	
		&-btn
			display: block
			margin:
				top: 28px
			padding: 11px 10px
			width: 100%
			font-size: 18px
			line-height: 28px
			color: $font-light-color
			text-align: center
			background-color: #292C32
	
		&-nav
			margin:
				top: 30px
				left: -105px
			padding:
				left: 105px
			background-color: #1F2227
			+box-shadow(0px 0px 10px rgba(0, 0, 0, 0.2))
			border:
				top-right-radius: 6px
				bottom-right-radius: 6px

			&-list
				+flex
				list-style-type: none
				
				li
					margin:
						right: 30px

					&:last-child
						margin: 0

			&-link
				display: block
				padding: 12px 0 13px 0
				font-size: 16px
				line-height: 25px
				color: $font-light-color
				+prefix(transition, $default-transition)

				&:hover
					color: $accent-color

		&-about
			background: -webkit-gradient(linear, left top, right top, from(#FFBF60), to(#FF9900))
			background: -o-linear-gradient(left, #FFBF60 0%, #FF9900 100%)
			background: linear-gradient(90deg, #FFBF60 0%, #FF9900 100%)
			+prefix(transition, transform 0.5s)
			
			+prefix(transform, rotateX(0deg))
			+prefix(transition-timing-function, cubic-bezier(.175, .885, .32, 1.275))
			+prefix(transition-duration, .5s)
			+prefix(transition-property, transform opacity)
			&.edit
				
				+prefix(transform, rotateX(-180deg))
				background: -webkit-gradient(linear, left top, right top, from(#FFBF60), to(#FF9900))
				background: -o-linear-gradient(left, #FFBF60 0%, #FF9900 100%)
				background: linear-gradient(90deg, $bg-default-color 0%, #1e2022 100%)
			>.edit
				+prefix(transform, rotateX(180deg))
			
			&-info
				padding: 0 30px
					top: 20px

			&-title
				font-size: 21px
				line-height: 32px
			
			&-wrap
				+flex
				margin:
					top: 15px
				
				.company-head-about-text
					margin: 0 0 0 auto
					text-align: right 

			&-add
				+flex
				margin:
					left: -30px
				padding: 10px 30px
				width: 100%
				max-width: 260px
				font-size: 16px
				line-height: 25px
				color: $white 
				background-color: #A76C14
				border:
					top-right-radius: 30px
					bottom-right-radius: 30px
				+align-items(center)

				&-img
					margin:
						right: 10px

			&-text-wrap
				+flex
				margin: 0 -2px
					top: 13px  
				+justify-content(space-between)
				+flex-wrap(wrap)

			&-text
				padding: 2px
				width: 50%
				min-height: 44px
				
				&.edit
					padding: 10px

				&:nth-child(even)
					text-align: right

				span
					display: block
					
				&-top
					font-size: 12px
					line-height: 18px
					color: rgba(255, 255, 255, 0.6)
				
				&-bottom
					font-size: 14px
					line-height: 22px
					color: $white

			&-btn-wrap
				+flex
				margin:
					top: 19px

			&-btn
				display: block
				padding: 11px 10px
				width: 50%
				font-size: 18px
				line-height: 28px
				color: $white
				text-align: center
				cursor: pointer
				background-color: #A76C14
				+prefix(transition, $default-transition)
				
				&.edit
					background-color: $bg-color2
					color: $font-light-color
					
				&:hover
					opacity: $default-opacity

	&-sale
		margin:
			top: 30px
		
		.sale
			&-progressbar
				&-line
					width: 73%

	&-calendar
		width: 100%
		overflow-y: auto
		-ms-overflow-style: none
		scrollbar-width: none

		&::-webkit-scrollbar
			display: none
		
		&-wrap
			+flex
			margin:
				top: 30px

			.fc-view-harness
				min-width: 735px

			.fc th
				text-align: left

			.fc .fc-toolbar.fc-header-toolbar
				padding: 0 5px

			.fc-button
				padding: 0 15px
				background-color: transparent
				color: $font-light-color
				border: 0
					right: 2px solid $font-light-color
				+prefix(transition, $default-transition)
				box-shadow: none !important
				outline: none

				&:focus
					box-shadow: none

				&:hover
					color: $white
					background-color: transparent
					border:
						right: 2px solid $font-light-color
				
				&:last-child
					border: 0

				&:not(:disabled).fc-button-active.fc-button-active
					color: #9E6CFD
					background-color: transparent
					border:
						right: 2px solid $font-light-color
					box-shadow: none !important
					outline: none

				&:last-child.fc-button-active.fc-button-active
					border: 0

			.fc-toolbar-title
				font-size: 33px
				font-weight: 400
				line-height: 51px
				text-transform: capitalize
		
			.fc-theme-standard .fc-scrollgrid,
			.fc-theme-standard th
				border: 0

			.fc-col-header-cell-cushion 
				font-size: 14px
				line-height: 20px
				font-weight: 400
				color: $font-light-color
				text-transform: uppercase
			
			.fc-theme-standard td
				border: 0
			
			.fc-daygrid-day
				padding: 5px

			.fc-daygrid-day-frame
					padding: 15px 10px
					background-color: #292C32
					border-radius: 6px
			
			.fc-day-other
				.fc-daygrid-day-top
					opacity: 1
					
				.fc-daygrid-day-frame
					opacity: .3

			.fc .fc-daygrid-day.fc-day-today
				background-color: transparent
				.fc-daygrid-day-number
					color: $accent-color

			.fc-daygrid-day-top
				+flex-flow(row)

			.fc-timeGridWeek-view,
			.fc-timeGridDay-view
				.fc-timegrid-slots
					tr:nth-child(even)
						border-bottom: 1px solid #53565B 
				
				.fc-timegrid-cols
					.fc-day-today
						background-color: #292C32 

		&-box
			padding: 30px
			width: 100%
			max-width: 1470px			
	
	&-consultant
		padding:
			left: 30px
		width: 100%
		max-width: 320px
		
		&-info
			padding: 30px
		
		&-img-box
			position: relative
			margin: 0 auto
			padding:
				bottom: 83%
			width: 100%
			max-width: 190px
			border-radius: 300px
			overflow: hidden
		
		&-img
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			width: 100%
			height: 100%

		&-name
			margin:
				top: 25px
			font-size: 18px
			line-height: 28px
			text-align: center
		
		&-position
			margin:
				top: 5px
				bottom: 19px
			font-size: 12px
			line-height: 18px
			color: $font-light-color
			text-align: center
		
		&-phone
			display: block
			position: relative
			margin: 0 auto
			padding: 6px 0
				left: 33px
			max-width: 160px
			font-size: 16px
			line-height: 25px
			color: $white
			+prefix(transition, $default-transition)

			&::before
				content: ''
				display: block
				position: absolute
				margin:
					top: -10px
				top: 50%
				left: 0
				width: 20px
				height: 20px
				background-image: url(~@/assets/img/icon/phone.svg)
				background-size: cover
				background-position: center center
				background-repeat: no-repeat

			&:hover
				opacity: $default-opacity
		
		&-time
			margin:
				top: 19px
			text-align: center

			&-title
				font-size: 12px
				line-height: 18px
				color: $font-light-color

			&-val
				margin:
					top: 5px
				font-size: 14px
				line-height: 22px

		&-mail
			+flex
			padding: 15px 10px
			font-size: 18px
			line-height: 28px
			color: $font-light-color
			background-color: #292C32
			+justify-content(center)
			+align-items(center)
			+prefix(transition, $default-transition)

			&:hover
				opacity: $default-opacity

			&-img
				margin:
					right: 13px
				width: 100%
				max-width: 40px
				
	&-search 
		&-wrap
			+flex
			margin:
				bottom: 20px
			+align-items(center)

		&-input-wrap
			position: relative
			margin:
				right: 30px
			width: 100%
			max-width: 740px

		&-input
			padding: 13px 30px 12px 30px
				right: 40px
			width: 100%
			font-size: 16px
			line-height: 25px 
			color: $white
			border: 0
			border-radius: 60px
			background-color: #292C32
		
			+placeholder()
				color: $font-light-color
		
			&-clear
				position: absolute
				margin:
					top: -8px
				top: 50%
				right: 20px
				width: 16px
				height: 16px
				+prefix(transition, $default-transition)
				cursor: pointer
				
				&:hover
					opacity: $default-opacity
		
		&-btn
			+flex
			padding: 16px 10px 14px 10px
			max-width: 130px
			+justify-content(center)
			+align-items(center)

			&-img
				position: relative
				z-index: 10
	
	&-card
		position: relative
		margin: 0 -15px
			top: 45px
		overflow-y: auto
		-ms-overflow-style: none
		scrollbar-width: none

		&::-webkit-scrollbar
			display: none
		
		&-wrap
			+flex
			min-width: 1330px

		&-item 
			position: relative
			padding: 0 15px
			width: 20%

			&:hover
				.company-card-box
					opacity: .5
				
				.company-card-more
					opacity: 1
		
		&-name 
			font-size: 21px
			color: $font-light-color
			text-align: center
			line-height: 32px
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis

		&-box
			position: relative
			margin:
				top: 5px
			padding: 12px 15px
			+box-shadow(0px 0px 10px rgba(0, 0, 0, 0.2))
			border-radius: 6px
			+prefix(transition, $default-transition)

			&.orange
				background: -webkit-gradient(linear, left top, right top, from(#FFBF60), to(#FF9900))
				background: -o-linear-gradient(left, #FFBF60 0%, #FF9900 100%)
				background: linear-gradient(90deg, #FFBF60 0%, #FF9900 100%)
				
				.company-card-sale
					&:after
						border-left-color: #6B4101 

					&-box
						background-color: #A76C14
			
			&.green
				background: -webkit-gradient(linear, left top, right top, from(#0BF2BA), to(#04A881))
				background: -o-linear-gradient(left, #0BF2BA 0%, #04A881 100%)
				background: linear-gradient(90deg, #0BF2BA 0%, #04A881 100%)

				.company-card-sale
					&:after
						border-left-color: #04624D 

					&-box
						background-color: #108D71
			
			&.red
				background: -webkit-gradient(linear, left top, right top, from(#FF7B73), to(#FF3024))
				background: -o-linear-gradient(left, #FF7B73 0%, #FF3024 100%)
				background: linear-gradient(90deg, #FF7B73 0%, #FF3024 100%)
				
				.company-card-sale
					&:after
						border-left-color: #92150E 

					&-box
						background-color: #B9342D

		&-row
			+flex
			position: relative
			padding: 13px 5px
			border-bottom: 1px solid rgba(21, 23, 28, 0.1)
			+align-items(center)
			
			&:last-child
				border-bottom: 0
		
		&-title
			margin:
				right: 10px
			min-width: 45px
			max-width: 45px
			font-size: 20px
			color: $white
		
		&-info
			width: 100%
			&-row
				font-size: 14px
				line-height: 22px
				color: $white

		&-agr
			position: absolute
			
			+prefix(transform, translateY(calc(-50% - 30px)) translateX(-26px))
			border:
				top-left-radius: 40px
				bottom-left-radius: 40px
				bottom-right-radius: 3px
			+box-shadow(0px 0px 10px rgba(0, 0, 0, 0.1))

			&:after
				content: ''
				display: block
				position: absolute
				bottom: -4px
				left: -4px
				border: 4px solid transparent
					right: 6px solid $active-color
				z-index: 0
				
				
			&-box
				+flex
				position: relative
				padding: 8px 26px 8px 20px
				border:
					top-right-radius: 40px
					bottom-right-radius: 40px
					top-left-radius: 3px
				+flex-flow(column)
				+justify-content(center)
				z-index: 1
				background: linear-gradient(90deg, $active-color 0%, $accent-color 100%)

		&-balance
			position: relative
			+prefix(transform, translateX(-26px))
			margin:
				top: 25px
			max-width: 258px
			background-color: transparent
			
			&::after
				content: ''
				display: block
				position: absolute
				top: -4px
				left: -4px
				border: 4px solid transparent
					right: 6px solid transparent
				z-index: 0
			
			&-box
				+flex
				position: relative
				padding: 8px 26px 8px 20px
				border:
					top-left-radius: 3px
					top-right-radius: 40px
					bottom-right-radius: 40px
				background-color: transparent
				+flex-flow(column)
				+justify-content(center)
				z-index: 1
				+box-shadow(-2px -2px 5px 0px #86140E)
		
		&-sale
			position: relative
			float: right
			+prefix(transform, translateY(-100%) translateX(26px))
			
			&.small
				+prefix(transform, translateX(26px))
			
			&:after
				content: ''
				display: block
				position: absolute
				top: -4px
				right: -4px
				border: 4px solid transparent
					left: 6px solid transparent
				z-index: 0

			&-box
				+flex
				position: relative
				padding: 8px 26px 8px 20px
				border:
					top-left-radius: 40px
					bottom-left-radius: 40px
					bottom-right-radius: 3px
				background-color: transparent
				+flex-flow(column)
				+justify-content(center)
				z-index: 1
				+box-shadow(-2px -2px 5px 0px #86140E)
				
			&-text
				font-size: 7px
				color: rgba(255, 255, 255, 0.6)
			
			&-value
				font-size: 14px
				font-weight: 700
				color: $white
				white-space: nowrap

		&-showdoc
			position: relative
			padding: 5px 20px 5px 20px
			cursor: pointer
			
			& svg
				+prefix(transition, $default-transition)
				+prefix(transform, rotate(0deg))
			
				&:hover
					+prefix(transform, translateY(-3px) rotate(-90deg))
					path
						fill: $accent-color
			
			&.active
				& svg
					+prefix(transform, rotate(-90deg))
					path
						fill: $accent-color
					
		&-more
			position: absolute
			top: 50%
			left: 50%
			font-size: 18px
			color: $accent-color
			+prefix(transform, translate(-50%))
			+prefix(transition, $default-transition)
			opacity: 0

		&-footer
			+flex
			+justify-content(space-between)
			+align-items(center)
			height: 60px
			
			&-text-agr
				
				line-height: 15px
				color: $font-light-color
			


