.order
	&-amount
		&-table-wrap
			overflow-y: auto

		&-table
			padding: 
				bottom: 0
			min-width: 720px

			.table
				&-wrap
					padding:
						bottom: 10px
				
				&-row
					&.active
						background-color: #292C32
						
						.table-elem
							color: $accent-color

						.amount-input
							background-color: #53565B
							color: $accent-color

						.amount-input-arrow
							&-img
								path
									fill: #A5A7A9
							
							&:hover
								.order-amount-table-input-arrow-img
									path
										fill: $white
					
					&.presail
						.table-elem
							color: #f13f3f
						.amount-input
							color: #f13f3f
						.check-btn-img
							path
								fill: #f13f3f
					
					&.table-heading
						border:
							bottom: 1px solid  #1F2227
			&-input
				padding: 12px 10px 12px 15px
				width: 100%
				color: $font-light-color
				background-color: #292C32
				border: 0
				border-radius: 6px
				+prefix(user-select, none)
				+prefix(transition, $default-transition)
			
				&:focus
					color: $white
			
				&-wrap
					position: relative
					max-width: 80px

				&-arrow
					+flex
					position: absolute
					right: 5px
					width: 9px
					height: 20px
					+align-items(center)
					cursor: pointer
					
					&-img
						width: 100%

						path
							+prefix(transition, $default-transition)

					&:hover
						.order-amount-table-input-arrow-img
							path
								fill: #A5A7A9

					&.plus
						top: 0
					
					&.minus
						bottom: 0
			
			&-value
				+flex

			&-btn
				margin:
					left: 10px
				width: 40px
				height: 40px
				background-color: #292C32
				border: 0
				border-radius: 6px
				cursor: pointer
				+prefix(transition, $default-transition)

				&-img
					path
						+prefix(transition, $default-transition)

				&.active
					background-color: #53565B
					.order-amount-table-btn-img
						path
							fill: $accent-color
				
				&:hover
					background-color: #53565B

					.order-amount-table-btn-img
						path
							fill: $accent-color

		&-more
			+flex
			font-size: 18px
			line-height: 28px
			text-align: center
			background-color: #292C32
			border:
					top: 1px solid $bg-default-color
			+prefix(transition, $default-transition)

			&-text
				color: $accent-color
				&.presail
					color: #f13f3f
					
			&-value
				color: $white
			
			&-btn
				cursor: pointer
				width: 100%
				padding: 10px
					bottom: 11px
				&:hover
					background: $bg-dlight-color
					color: $accent-color

				&.disable
					cursor: default
					.order-amount-more-text
						color: $font-light-color
	
	&-list

		&-top
			+flex
			padding: 40px 30px
				bottom: 20px
		
			&-elem
				+flex
				width: 50%
				+align-items(center)

				&:nth-child(1)
					width: 60%

				&:nth-child(2)
					width: 40%
			
		&-btn
			margin:
				left: 30px
			font-size: 18px
			line-height: 18px
			color: $font-light-color
			background-color: transparent
			border: 0
			+prefix(transition, $default-transition)
			cursor: pointer

			&:hover
				color: $accent-color

		&-bottom
			overflow-y: auto
		
			&-wrap
				min-width: 750px

		&-item
			margin:
				bottom: 5px
			
			&.active
				.order-list-main-row
					background-color: #53565B
				
					.order-list-elem:not(.error)
						color: $accent-color
					
					.order-amount-table-input
						background-color: #292C32

					.order-list-elem-delete
						opacity: 1
						pointer-events: all

				.table-arrow
					+prefix(transform, rotate(-90deg))
				
				.order-list-sublist
					.order-list-row
						background-color: transparent

			&:last-child
				margin: 0

		&-main-row
			background-color: #292C32
			+prefix(transition, $default-transition)
			cursor: pointer

			.order-list-elem-delete
				opacity: 0
				pointer-events: none
			
			.order-amount-table-input
				background-color: $bg-default-color
				
		&-row
			+flex
			position: relative
			//+justify-content(space-between)

			&.order-list-heading
				cursor: default
		
				.order-list-elem
					text-transform: uppercase

			&.order-list-subheading
				position: relative
				font-size: 10px
				padding:
					top: 25px
				line-height: 20px
				color: $font-light-color
				//text-transform: uppercase
				background-color: $bg-color
				+justify-content(space-around)
				border:
					top: 1px solid #292C32

		&-elem
			position: relative
			padding: 16px 0 14px 0
			font-size: 14px
			line-height: 20px
			color: $font-light-color
			+prefix(transition, $default-transition)

			&:nth-child(1)
				padding:
					left: 10px
				margin:
					right: 1.83%
				width: 5.5%

			&:nth-child(2)
				margin:
					right: 1.8%
				width: 36.83%
				text-transform: uppercase
			
			&:nth-child(3)
				margin:
					right: 3.67%
				width: 9.17%
			
			&:nth-child(4)
				margin:
					right: 3.67%
				width: 7.34%
				text-align: center

			&:nth-child(5)
				margin:
					right: 3.67%
				width: 11.93%
			
			&:nth-child(6)
				padding:
					right: 45px
				width: 11.01%

			&.error
				color: #FF5449

		&-sublist
			
			overflow: hidden
			max-height: 0
			+prefix(transition,  $default-transition)
			

			&.active
				padding:
					top: 10px
					bottom: 10px
				display: block
				max-height: 500px
				+prefix(transition,  max-height $default-transition)


			.order-list
				&-row
					+align-items(center)
					border:
						bottom: 1px solid #292C32
					background-color: transparent

					&:last-child
						border: 0

				&-elem
					padding: 
						top: 5px
						bottom: 5px
					color: $white

					&.error
						color: #FF5449
		
		&-buttons
			+flex
			margin:
				top: 20px
			+align-items(center)

			&-wrap
				+flex
				margin: 0 0 0 auto

			&-item
				+flex
				margin:
					left: 10px
				padding: 5px
				width: 60px
				height: 50px
				background-color: #1F2227
				background-size: auto
				background-position: center center
				background-repeat: no-repeat
				border-radius: 6px
				cursor: pointer
				+box-shadow(0px 0px 10px rgba(0, 0, 0, 0.2))
				+prefix(transition, $default-transition)

				&-img
					margin: auto
					path,
					circle,
					rect
						+prefix(transition, $default-transition)

				&:hover
					background-color: #292C32

					.order-list-buttons-item-img
						path:not(.stroke),
						rect:not(.notfill)
							fill: $accent-color
						
						circle,
						.stroke
							stroke: $accent-color
		
		&-submit
			position: relative
			max-width: 290px
	
	&-product
		&-prev
			margin:
				top: 30px
			&-wrap
				padding: 30px 10px
			
			&-slider 
				+flex
				margin: 0 auto
				max-width: 492px

				&-elem
					padding: 0 15px
					outline: none

				&-img-box
					position: relative
					width: 100%
					max-width: 134px
					border-radius: 6px 
					overflow: hidden
				
				&-img
					display: block
					width: 100%
					height: auto
				
				.slick-arrow
					position: absolute
					margin:
						top: -12px
					top: 50%
					width: 13px
					height: 24px
					font-size: 0
					background-color: transparent
					border: 0
					cursor: pointer
					z-index: 10

					&.slick-prev
						left: -5px
						background-image: url(~@/assets/img/icon/arrow-s-l.svg)
					
					&.slick-next
						right: -5px
						background-image: url(~@/assets/img/icon/arrow-s-r.svg)
				
		&-btn-wrap
			+flex
			background-color: #292C32
			
		&-btn
			display: block
			padding: 11px 10px
			width: 50%
			font-size: 18px
			line-height: 28px
			color: $white
			text-align: center
			+prefix(transition, $default-transition)

			&:hover
				color: $accent-color
	
	&-info
		padding: 11px 30px 12px 30px
		width: 100%
		max-width: 930px
		font-size: 16px
		color: $white
		
		+align-items(center)
		
		&-link
			display: inline-block
			
			padding: 11px 0
			font-size: 16px
			line-height: 25px
			color: $font-light-color
			+prefix(transition, $default-transition)

			&:hover
				color: $accent-color
				
			&.active
				color: $accent-color


.order-modal
	display: block 
	position: fixed
	z-index: 120
	left: 0
	top: 0
	width: 100%
	height: 100%
	overflow: auto
	background-color: rgba(0,0,0,0.4)

	&-dialog 
		position: absolute
		left: calc(50% - 250px)
		top: calc(50% - 150px)
		
		width: auto
		margin: 10px
		width: 500px
		//height: 300px
		margin: 30px auto
		background: #292c32
		border-radius: 2px
		+box-shadow(0px 0px 30px rgba(0, 0, 0, 1))

		&.shake
			animation: shake 0.3s cubic-bezier(.36,.07,.19,.97) both
			transform: translate3d(0, 0, 0)
			backface-visibility: hidden
			perspective: 1000px

			+keyframes(shake)
					10%, 90% 
						transform: translate3d(-1px, 0, 0)
					20%, 80% 
						transform: translate3d(2px, 0, 0)
					30%, 50%, 70%
						transform: translate3d(-4px, 0, 0)
					40%, 60%
						transform: translate3d(4px, 0, 0)

	&-content
		+flex
		+align-items(flex-start)
		+flex-flow(column)
		+justify-content(space-between)
		position: relative
		width: auto
		margin: 10px
		min-height: 200px
		max-height: 00px
		height: 100%
			
	&-header
		+flex
		+justify-content(space-between)
		+align-items(flex-start)
		padding: 15px
		border-bottom: 1px solid #eceeef
		height: 60px
		width: 100%

		&-title
			margin-top: 0
			margin-bottom: 0
			line-height: 1.5
			font-size: 1.25rem
			font-weight: 500
		&-close
			min-width: 20px
			max-width: 20px
			
			&:hover
				cursor: pointer
				stroke: $accent-color
				

	&-body
		position: relative
		padding: 
			top: 20px
			left: 20px
			right: 20px
		overflow: auto
		height: 100%
		flex: 1 1 auto

		.loading
			font-size: 20pt
			& span:nth-child(2)
				opacity: 0
				animation: dot 1.3s infinite
				animation-delay: 0.3s

			& span:nth-child(3)
				opacity: 0
				animation: dot 1.3s infinite
				animation-delay: 0.2s

			& span:nth-child(4)
				opacity: 0
				animation: dot 1.3s infinite
				animation-delay: 0.1s

				+keyframes(dot)
					0% 
						opacity: 0
					50%
						opacity: 0
					100%
						opacity: 1
	
	&-action
		+flex
		+justify-content(space-between)
		width: 100%
		min-height: 50px
		padding:
			left: 20px
			right: 20px
			bottom: 10px
