$accent-color: #FAC12E
$white: #ffffff
$font-light-color: #A5A7A9

$bg-default-color: #1F2227
$bg-dlight-color: #53565B
$bg-color: #15171C
$bg-color2: #292c32

$default-font: "Muli", sans-serif
$default-transition: .3s
$default-opacity: .8

$active-color:  #FF9900

$alert-color: #e70c0c



$dark-bg-color: #15171C
$dark-bg-color2: #292C32
$dark-bg-default: #1F2227
$dark-font-color: #A5A7A9
$dark-accent-color: #FAC12E

$light-font-color: #53565B
$light-font-color2: #868686
$light-bg-color: #E5E7EB
$light-bg-color2: #D1D5DB
$light-bg-default: #1F2227
$light-accent-color: #FAC12E
$light-active-color:  #FF9900
// $bg-color: '#15171C'
